body{
    background: #14120b;
    color: white;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
}

.second_color{
    background: #1b1913;
    border-radius: 5px;
}

.main_container{
    width: 80%;
    margin: auto;
}